html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 90px;
  background-color: gold;
  /*erase below*/
  padding-left: 100px;
}

.padded {
  padding-top: 30px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 90px;
  background-color: #f4f4f4;
  padding-top: 20px;
}

.copyright {
  color: #00f;
}
